<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PaprikaSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SendAnywhereSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C208BC821E1DE5420087EC64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C208BC8B1E1DE5420087EC64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C208BCC01E1DE8EC0087EC64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C208BCC81E1DE8EC0087EC64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2A21B0F1E263D1000B462A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2D796001E24CB9E004B2E10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
