<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-01-11T05:16:04Z</date>
	<key>WorkspacePath</key>
	<string>/Users/do/Develop/SendAnywhere/paprika_ios_4_sdk/paprika_ios_4_sdk.xcworkspace</string>
</dict>
</plist>
